<!--
####################################################################################
#
#    Licensed to the Apache Software Foundation (ASF) under one or more
#    contributor license agreements.  See the NOTICE file distributed with
#    this work for additional information regarding copyright ownership.
#    The ASF licenses this file to You under the Apache License, Version 2.0
#    (the "License"); you may not use this file except in compliance with
#    the License.  You may obtain a copy of the License at
#
#       http://www.apache.org/licenses/LICENSE-2.0
#
#    Unless required by applicable law or agreed to in writing, software
#    distributed under the License is distributed on an "AS IS" BASIS,
#    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#    See the License for the specific language governing permissions and
#    limitations under the License.
#
####################################################################################
//-->
<html lang="en">
<head>
    <link href="style.css" type="text/css" rel="stylesheet" />
</head>
<body>
<a href="archives.html">archives</a> -  <a href="licenses.html">licenses</a> - <a href="notices.html">notices</a> - <a href="content">contents</a><br/><br/>
<h1>Notices</h1>

#foreach($notice in $notices)
    <h1>Notice</h1>
<pre>
$notice.text
</pre>
    <ul>
    #foreach($archive in $notice.archives)
        <li><a href="${reports.notices($archive)}">$archive.uri</a></li>
    #end
    </ul>
#end
</body>
</html>
